{% if errors %}
  <tr>
    <td colspan="2">
      {{ errors }}
      {% if not fields %}
        {% for field in hidden_fields %}{{ field }}{% endfor %}
      {% endif %}
    </td>
  </tr>
{% endif %}

<div class="shoveboxplaceholder" draggable="true" 
 ondragover="dragOverPlaceholder(event)" ondragleave="dragLeave(this)" 
 ondrop="drop(event)"></div>
  {% comment %} <div class="shovebox" format="1" shovebox-id="1" ondragstart="startDraggingShovebox(event)" {% endcomment %}

  <div class="shovebox" format="1"  ondragstart="startDraggingShovebox(event)"   ondragend="dragEnd(this)"
  shovebox-id={{ form.prefix }}  draggable="false" ondblclick="editPopup(this)"  style="position:'static'">
    <tr>  
      {% for field, errors in fields %}
        <td>
          {{ errors }}
          {{ field }}
          {% if field.help_text %}
            <span class="helptext">{{ field.help_text|safe }}</span>
          {% endif %}
          {% if forloop.last %}
            {% for field in hidden_fields %}{{ field }}{% endfor %}
          {% endif %}
        </td>
     {% endfor %}
    </tr>
  </div>

{% if not fields and not errors %}
{% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
<div class="shoveboxplaceholder" ondragover="dragOverPlaceholder(event)" ondragleave="dragLeave(this)"></div>