
{% comment %} The radio group must have share the same name (the value of the name attribute) to be treated as a group. 
Once the radio group is created, selecting any radio button in that group automatically 
deselects any other selected radio button in the same group. 
The value attribute defines the unique value associated with each radio button. 
The value is not shown to the user, but is the value that is sent to the server on "submit" 
to identify which radio button that was selected. {% endcomment %}


{% with id=widget.attrs.id %}
    {% comment %} <div{% if id %} id="{{ id }}"{% endif %} class="typeswitch" style="vertical-align: middle"> {% endcomment %}
        <div{% if id %} id="{{ id }}"{% endif %} class="typeswitch sbfield"  onfocus="inputGotFocus(this)" onblur="inputGotBlurred(this)">

    {% for group, options, index in widget.optgroups %}

          {% comment %} 
          Iterate over the different options of types (radio-buttons) 
          {% endcomment %}
          {% for option in options %}



          {% comment %} <input class="typebutton tb_two" title="Groen" tooltip="data-toggle" type="radio" name="boek_set-1-toggle" id="boek_set-1_two" style="opacity: 0;"> {% endcomment %}

              <input name={{ widget.name }}  onclick="switched(this)" class="typebutton tb{{ option.index}}   sbfield"    oncontextmenu="myScript"    id={{ option.attrs.id }} 
              {% if option.value != None %} value="{{ option.value|stringformat:'s' }}"{% endif %}
              {% if option.selected  %} checked {% endif %}
              type="radio"     title="{{ option.label }}"     />


               {% comment %} <label for="{{ option.attrs.id }}"  class="switch_label"  title="{{ option.label }}" > {{ option.value |safe }} 
              </label>  {% endcomment %}
        {% endfor %}
        
     
    {% endfor %}

    </div>

    {% endwith %}