{% extends "price/base.html" %}

{% block header %}

{% load static %}

<link rel="stylesheet" href="{% static 'shoveboxlist/css/shoveboxlist.css' %}">
<link rel="stylesheet" href="{% static 'shoveboxlist/css/context-menu.css' %}">

{% endblock header %}


{% block content %}


<template id="id_formset_empty_form">{{ formset.empty_form.as_shoveboxlist   }}</template>
<form method="post" >

{% csrf_token %}





<div class="grid-container">
    <div></div>
    <div>
        <row>
            <h1>Shoveboxlist Demo</h1>
        </row>
        <div id="shoveboxlist1"  class="shoveboxlist"  style="text-align: center;height: 500px" minlevel="1" maxlevel="6" autoref="true" >
            {{ formset.management_form }}
                {% for form in formset    %}
                    {{form.as_shoveboxlist}}  
                {% endfor  %}
        </div>

        <p><input type="submit"  style="font-size : 20px; width: 100px; height: 50px;" value="Save" onclick="updateNameAttributes('shoveboxlist1')"></p> 

    </div>
    <div></div>  
  
  </div>


</div>
  

</form>

{{ form.media }}

<script>

document.addEventListener("DOMContentLoaded", () => {
shoveboxlist = document.getElementById("shoveboxlist")
});

</script>

{% endblock content %}

{% block footer %}

<script src="{% static 'shoveboxlist/js/context-menu.js' %}">;


</script>

<script>
var  detailEditUrl =    "{{detail_edit_url }}" ;
var basePrefix =  "{{base_prefix }}" ;


</script>
{% comment %} https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import {% endcomment %}
<script src="{% static 'calculation/js/calculation.js' %}" >;
</script>

<script src="{% static 'shoveboxlist/js/shoveboxlist.js' %}">;
   

</script>



{% endblock footer %}